// Text alignment
// Prefixed with .u for utility
.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

// Clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}