// This file is alphabetized by group name instead of variable name

// Breakpoints
// If you change these, make sure to change 
// the container's max width in _grid.scss

$screen-xs-min:              480px !default;
$screen-sm-min:              768px !default; // Start of 'tablet'
$screen-md-min:              992px !default; // Start of 'desktop'
$screen-lg-min:              1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Colors
// Use the Adobe Edge CC color pallete to nail your colors

$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$gray-light:             lighten(#000, 46.7%) !default; // #777
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray-darker:            lighten(#000, 13.5%) !default; // #222

$red:                    rgb(238, 46, 36);
$green:                  rgb(93, 151, 50);
$white:                  rgb(255, 255, 255);
$biege:                  rgb(243, 239, 233);

$body-bg:                $biege;
$text-color:             rgb(92, 92, 92);
$link-color:             $green !default;
$link-hover-color:       darken($link-color, 15%) !default;

// Font Size Scale
// See the REM mixin
// Use the Adobe Edge CC font panel to see all font sizes used

$fs-micro: .9;
$fs-smallest: 1;
$fs-smaller: 1.2;
$fs-small: 1.4;
$fs-base: 1.6;
$fs-large: 2.1;
$fs-larger: 2.4;
$fs-largest: 3;
$fs-jumbo: 5;

// Font Weight Scale
// Depending on how your fonts are sourced, you might only need
// 400 since different font weights can have differnt font family names

// $fw-lightest:
// $fw-lighter:
// $fw-light:
   $fw-base: 400;
// $fw-heavy:
// $fw-heavier:
// $fw-heaviest:

// Icons
// Useful in a mixin to attach as pseudo elements (like buttons)
// Values come from the Icomoon font you'll need to download

// $icon-facebook:      "\e600";
// $icon-instagram:     "\e601";
// $icon-twitter:       "\e602";
// $icon-bag:           "\e603";

// Letter Spacing Scale

// $ls-tightest:
// $ls-tighter:
// $ls-tight:           -.05em;
// $ls-normal:
// $ls-loose:           .05em;
// $ls-looser:
// $ls-loosest:

// Line Height Scale

// $lh-tightest:
// $lh-tighter:
   $lh-tight: 1.2em;
   $lh-base: 1.6em;
// $lh-loose:
// $lh-looser: