// Update this file with the CSS file Icomoon gives you after
// downloading your font.  If updating, be sure to start with
// the selection.json file, otherwise these icons will be lost.

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e600";
}
.icon-instagram:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-bag:before {
  content: "\e603";
}