// Set your generic type elements here.  Elements that
// are more specific, like .article-header-date, should be
// set with their component

a {
  color: $link-color;
  text-decoration: none;
  
  &:hover {
    color: $link-hover-color;
  }
}

body {
  @extend %open-4;
  @include font-size($fs-base);
  color: $text-color;
  line-height: $lh-base;
}

code {
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %proxima-6;
  color: $red;
  line-height: 1.2em;
}

h1 {
  @include font-size($fs-jumbo);
}

h2 {
  @include font-size($fs-largest); 
}

h3 {
  @include font-size($fs-larger); 
}

h4 {
  @include font-size($fs-large); 
}

p {
  margin-bottom: 1em;
}

pre {
  @extend %open-7;

}